.dropdown {
  display: flow-root;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
  }

a {
  text-decoration: none;
}

nav {
  font-family: monospace;
}

ul {
  background: #64b5f6;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  color: #fff;
  background: #64b5f6;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

li a {
  color: #fff;
}

li:hover,
li:focus-within {
  background: #319ef7;
  cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {
  background: #64b5f6;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}
